@media only screen and (min-width: 64rem) {


    .animal-list > li {
        flex: 31%;
    }


    .animal-detail
    {
        padding: 10px;
        margin: auto;
        margin-bottom: 100px;
    }

    .animal-detail h2
    {
        font-size: xx-large;
    }

    .animal-detail p {
        font-size: larger;
    }

    .animal-detail button
    {
        font-size: larger;
        width: 200px;
        height: 50px;
    }
}