/* VARIABLES */

:root {
  
    --primary-color:   #FFC09F ;
    --secondary-color: #5A2328 ;
    --accent1-color: #7EBDC2;
    --accent2-color: #386641;
  
   
    --heading-font: 'Vina Sans', cursive;
    --paragraph-font: 'Lato', sans-serif;
}


/* PAGE CONATAINER */
.page-container {
    position: relative;
    min-height: 100vh;
    color:var(--secondary-color);
}

.page-container h1,h2,h3,h4,h5,h6 {
    font-family: var(--heading-font);
}

.content-wrap {
    padding: 10px;
    padding-bottom: 2.5rem;
}

/* HEADER */

header {
    display: flex;
    align-content: center;
    background-color: var(--secondary-color);
    border: 1px solid black;
    border-radius: 15px;
    font-family: var(--heading-font);
    font-size: 0.75rem;
    padding: 2px;
    min-width: fit-content;
}

header img {
    height: 75px;
    border-radius: 50px;
    margin: auto 0px;
    border: solid 1px black;
}

header h1 {
    display: inline;
    margin: auto 10px;
    color: var(--primary-color);
}

header h1 p {
    display: inline;
    color: var(--accent1-color);
}

#back-button
{
    color: #FFC09F;
    margin: auto 20px;
    margin-right: 1rem;
    font-size: 20px;
    text-decoration: none;
    padding: 0px;
}

#back-button:hover
{
    color: var(--accent1-color);
}

.favorite-icon
{
    margin: auto;
    margin-right: 0px;
    font-size: 2rem;
    text-decoration: none;
    color: var(--primary-color);
}

.favorite-icon:hover
{
    color: var(--accent1-color);
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 2.5rem;
    padding: 10px 0px;
}


/* ANIMAL LIST */
.animal-list {
    list-style: none;
    text-align: center;
    padding: 10px;
}


.animal-card {
    border-bottom: solid black 1px;
    padding-bottom: 30px;
    max-width: 500px;
    min-width: 200px;
    margin: auto;
}

.animal-card a {
    text-decoration: none;
    color: var(--accent2-color);
}

.animal-card h2
{
    margin: 4px auto;
}

.animal-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

/* Animal Details */
.animal-detail
{
    text-align: center;
}

.animal-detail img
{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.animal-detail ul
{
    list-style: none;
    text-align: left;
    margin: auto;
    padding: 2px;
}

.animal-detail li
{
    margin: 5px 0px;
}

.animal-detail li p
{
    display: inline;
    font-weight: bold;
}

.animal-detail button
{
    width: 100px;
    height: 30px;
    background-color: var(--primary-color);
    color: var(--accent2-color);
    border: 2px var(--secondary-color) solid;
    border-radius: 2px;
}

.animal-detail button:hover
{
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    border: 2px black solid;
}

/* Favorite List */
.favorite-list
{
    list-style: none;
}

.favorite-list li
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
}

.favorite-list button
{
    background-color: white;
    color: red;
    font-weight: bolder;
    font-size: larger;
    border: none;
}

/* Reveal Animation */

.reveal-transition
{
    animation: reveal 1s;
}

@keyframes reveal
{
    0% {opacity: 0.1;  margin-left: 280px;
    }

    85% {
        opacity: 1;  margin-left:-20px;
    }

    95% {
        margin-left: 10px;
    }
}